@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.portion1 {
  background-image: url(bg.jpg);
  max-width: 1500px;
  width: 100%;
  height: 90vh;
  margin: auto;
  border-bottom: 8px rgb(56, 55, 55) solid;
}

.inportion {
  background-color: rgba(0, 0, 0, 0.7);
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  margin: 0.4rem 8%; 
  height: 15%;
  display: flex;
  justify-content: space-between;
  padding: 0 3%; 
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .header {
    margin: 0;
    height: 15%;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    align-items: center;
  }
}

.logo {
  height: 60px;
  overflow: hidden;
  width: 170px;
}

.logo-img {
  padding: 1rem;
  object-fit: cover;
  opacity: 0.88;
}

.login {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
}

#dropdown {
  border: white 1px solid;
  width: 70px;
  color: white;
  background-color: rgb(28, 28, 28);
  border-radius: 4px;
  padding: 4px 0;
}

.signin {
  background-color: red;
  border: white 1px solid;
  width: 70px;
  color: white;
  padding: 4px 0;
  border-radius: 4px;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 6.5rem;
}

.heading1 {
  font-size: 3rem;
  font-weight: bolder;
  color: white;
  text-align: center;
}

.heading2,
.heading3 {
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.heading-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.input1 {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  color: white;
  width: 270px;
  padding: 8px 15px;
  border: 1px rgb(240, 239, 239) solid;
}

.button-in {
  cursor: pointer;
  background-color: red;
  border: white 1px solid;
  width: 180px;
  color: white;
  padding: 6px;
  border-radius: 4px;
  font-size: 1.4rem;
}

@media screen and (max-width: 1300px) {
  .heading1 {
    font-size: 2.1rem;
  }
  .heading2,
  .heading3 {
    font-size: 1rem;
  }
  .heading-button {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.portion2,
.portion3,
.portion4,
.portion5 {
  min-height: 75vh; 
  margin: auto;
  background-color: black;
  border-bottom: 8px rgb(56, 55, 55) solid;
}

.inportion2,
.inportion4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.left,
.left1 {
  flex: 1;
  margin-left: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.heading4,
.heading8,
.heading6,
.heading10 {
  font-size: 3rem;
  font-weight: bolder;
  color: white;
  text-align: start;
}

.heading5,
.heading9,
.heading7,
.heading11 {
  font-size: 1.5rem;
  color: white;
  text-align: start;
}

.right,
.right1 {
  flex: 1;
  margin-right: 6%; 
}

.box,
.box1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tv,
.tv1 {
  position: relative;
  width: 35vw;
  max-width: 560px; 
  z-index: 2;
}

.video {
  position: absolute;
  width: 35vw;
  max-width: 560px; 
}

.video1 {
  position: absolute;
  width: 90%; 
  max-width: 400px; 
  object-fit: contain;
}

@media screen and (max-width: 1300px) {
  .inportion2,
  .inportion4 {
    flex-direction: column;
  }

  .left,
  .left1 {
    margin: auto;
    width: 75vw;
    padding-top: 1.7rem;
  }

  .right,
  .right1 {
    margin: 0;
  }

  .tv,
  .tv1 {
    width: 300px;
    height: 220px;
  }

  .video,
  .video1 {
    width: 270px;
    height: 200px;
  }
}


.inportion3,
.inportion5 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  width: 75vw;
  margin: auto;
}

.upper,
.upper1 {
  flex: 1;
}

.lower,
.lower1 {
  flex: 2;
}

.mobile,
.mobile1 {
  width: 100%;
}

@media screen and (max-width: 1300px) {
  .inportion3,
  .inportion5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .upper,
  .upper1 {
    margin: 1rem auto 3rem auto;
    padding-top: 1.7rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .lower,
  .lower1 {
    padding-bottom: 3rem;
    margin: 0 auto 2rem auto;
  }

  .mobile,
  .mobile1 {
    width: 45%;
    height: 50%;
  }
}



.portion6 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 90vh;
  border-bottom: 8px rgb(56, 55, 55) solid;
}

.inportion6 {
  margin: auto;
  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: 2rem;
  width: 75%;
  justify-items: center;
}

.heading12 {
  font-size: 2.7rem;
  font-weight: bolder;
  color: white;
  text-align: center;
}

.ques {
  width: 90%; 
  max-width: 750px; 
  background-color: #343434;
  padding: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1.5s ease-out;
  cursor: pointer;
}

.in-ques {
  font-size: 1.5rem;
  color: white;
  text-align: start;
}

.ques:hover {
  background-color: #4b4b4b;
}
